body{
	background-color: #eee;
}
#showbooks{
	margin-top: 50px;

}
#showbooks div{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 15px;
}
.bookContainer{
	outline: 1px solid #aaa;
	background-color: #fff;
}
.bookContainer img{
	float: left;
	margin: 10px;
	height: 100px;
	width: 70px;
}
.bookContainer ul{
	list-style-type: none;
	margin-top: 10px;
	margin-bottom: 0;
}
.delete_button{
	margin-top: 5px;
	margin-bottom: 10px;
}
